---
layout: page
title: Experience Timeline
permalink: /experience/
description: The work and academic endeavors of andrew kulpa in a nicely formatted timeline
keywords: security software developer Andrew Kulpa blog portfolio work educational experience web back-end
---
<!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="block">
                {% if site.data.experience.size > 0 %}
                <h1>Experience</h1>
                <p>Check out a timeline of my academic and work endeavors.</p>
                {% else %}
                <h1>Coming Soon</h1>
                <p>Experience information is currently compiling!</p>
                {% endif %}
            </div>
        </div>
        </div>
    </div>
</section>
<div class="container">
    <div id="timeline">
        {% if site.data.experience.size > 0 %}
            {% for xp in site.data.experience %}
            {% assign mod2 = forloop.index | modulo: 2 %}
            <div class="timeline-item ">
                <i class="icon {{xp.icon}} timeline-icon"></i>
                <div class="timeline-content {% if mod2 == 0 %}right{% endif %}">
                    <h2>{{xp.title}}</h2>
                    <div class="row mb-2 mt-1">
                        <h3 class="text-muted col-lg-12 col-xl-6 mb-0"><p class="mb-0"><i class="fas fa-globe"></i>  {{xp.place}}</p></h3>
                        <h3 class="text-muted col-lg-12 col-xl-6 text-xl-right mb-0"><p class="mb-0"><i class="fas fa-calendar"></i>  {{xp.years}}</p></h3>
                    </div>
                    <p>{{xp.description}}</p>
                    {% if xp.link %}
                    <a href="{{xp.link}}}" class="btn">link</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>Interested in seeing my resume?</h2>
                    <p>Check out my Resume in Google Docs! </p>
                    <a class="btn btn-default btn-call-to-action" href="https://docs.google.com/document/d/1r2ieAmS6nLzltA8AWsr6uxismzR2KfLo9SuoE5crJmQ/edit?usp=sharing" >View Resume</a>
                </div>
            </div>
        </div>
    </div>
</section>