<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">About Me</a></li>
            <li><a href="{{ site.baseurl }}/projects/">Projects</a></li>
            <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
            <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
          </ul>
        </div>
        <p>Copyright &copy; entended from original <a href="http://www.themefisher.com">Themefisher</a> Airspace theme. All rights reserved.</p>
      </div>
    </div>
  </div>
  {% if site.ga_tracking_id %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_tracking_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ site.ga_tracking_id }}');
    </script>
  {% endif %}
</footer>
