<!-- Header Start -->
<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-expand-lg navbar-light" id="nav-bar">
          <a class="navbar-brand" href="{{ site.baseurl }}/" id="header-img"><img id="brand-icon" src="{{ site.baseurl }}/img/logo.png" alt="site brand logo"/></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse navbar-default" id="navbarSupportedContent">
              <ul class="navbar-nav mr-sm-3 justify-content-end">
                  <li class="nav-item active">
                      <a class="nav-link" href="{{ site.baseurl }}/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ site.baseurl }}/projects/">Projects</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/experience/">Experience</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ site.baseurl }}/blog/">Blog</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{{ site.baseurl }}/contact/">Contact</a>
                  </li>
              </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
